<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    
    <style>
        * {
            background-color: black;
            color: white;
        }
        header {
            margin-left: 5%;
        }
        header a {
            color: white;
            text-decoration: none;
            font-size: 1.5rem;
            padding: 10px;
            display: block;
            width: fit-content;
        }
    </style>
</head>
<body>
    <header>
        <a href="/goals">Back</a>
    </header>
    <h1>{{ title }}</h1>

    <div>
        <p>Description: {{ goal.description }}</p>
        <p>Due Date: {{ goal.dueDate }}</p>
        <p>Target: {{ goal.target }}</p>
        <p>Current: {{ goal.current }}</p>
        <p>Progress: {{ goal.getProgress }}%</p>
        {% if goal.image %}
            <img src="{{ goal.image.url }}" alt="{{ goal.name }}" style="width: 200px; height: 200px; object-fit: cover;">
        {% endif %}
        
        <form>
            {% csrf_token %}
            <input type="hidden" name="goalId" value="{{ goal.id }}">
            <input type="number" name="amount" placeholder="Amount" required>
            <button type="submit">Deposit</button>

            <script>
                const deposit = (event) => {
                    event.preventDefault()
                    const form = event.target;
                    const amount = form.amount.value;
                    const goalId = form.goalId.value;
                    fetch('/goals/deposit/', {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: JSON.stringify({
                            goalId: goalId,
                            amount: amount
                        })
                    })
                    .then(response => response.json())
                    .then(data => {
                        location.reload();
                    })
                    .catch(error => console.log(error))
                }

                const depositForm = document.querySelector('form');
                depositForm.addEventListener('submit', deposit)
            </script>
        </form>
    </div>
    
</body>
</html>